[submodule "deep-learning"]
	path = deep-learning
	url = git@github.com:Le2iCollaborativeResearchGroup/deep-learning.git
[submodule "Ros"]
	path = Ros
	url = git@github.com:Le2iCollaborativeResearchGroup/Ros.git
[submodule "coding-language"]
	path = coding-language
	url = git@github.com:Le2iCollaborativeResearchGroup/coding-language.git
