[submodule "deep-learning"]
	path = deep-learning
	url = https://github.com/Le2iCollaborativeResearchGroup/deep-learning.git
[submodule "Ros"]
	path = Ros
	url = https://github.com/Le2iCollaborativeResearchGroup/Ros.git
[submodule "coding-language"]
	path = coding-language
	url = https://github.com/Le2iCollaborativeResearchGroup/coding-language.git
